# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# Match Angular CLI's supported browser baseline.
baseline widely available on 2026-05-07