<form #devForm="ngForm">
  Campo minado:
  <input type="number" name="x" id="x" [(ngModel)]="definition.x" /> linhas
  <input type="number" name="y" id="y" [(ngModel)]="definition.y" /> colunas

  <button type="button" (click)="createCamp()">Criar campo jogável</button>

  <table>
    <tbody>
      <tr *ngFor="let row of definition.camp; let x = index">
        <td *ngFor="let col of row; let y = index">
          <button (click)="definition.changeBomb(x, y)" [attr.data-bomb]="definition.display(x, y) === '*' ? 'true' : null">
            <span class="cell-value">{{ htmlDisplay(x, y) }}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
