<table class="minefield-board">
  <tbody>
    @for (row of rows; track $index; let x = $index) {
      <tr>
        @for (cell of row; track $index; let y = $index) {
          <td>
            <button
              type="button"
              [ngClass]="['cell-button', getAppearance(x, y)]"
              (click)="cellClick.emit({ x, y })"
              (contextmenu)="onContextMenu($event, x, y)"
            >
              <span class="cell-value">{{ getCellValue(x, y) || ' ' }}</span>
            </button>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
